@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme{
  --font-domine: 'Domine', serif;
}
.text-outline {
  -webkit-text-stroke: 1px white; /* border color */
  color: transparent;             /* optional, for hollow text */
}
